* {
    /* Para que o padding seja incluído dentro do width.*/
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url(""); */
    color: green;
}

h1 {
    text-align: center;
}

#search-area {
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#cards-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    justify-content: start;
    flex-wrap: wrap;
    
}

.card {
    border: 1px solid #507237;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: fit-content;
    justify-content: center;
    align-items: center ;
}

.card:hover {
     transform: scale(1.05);
}

.avatar {
    height: 64px;
}

a {
    color: green;
}
